* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homecontainer {
    display: flex;
    width: 100%;
    gap: 60px;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 40px;
    position: relative;
}

.homecontainercontent1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: -20px;
}

.homecontainercontent1 p {
    font-weight: bold;
    align-self: start;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    font-size: 17px;
    margin-bottom: -30px;
}

.homecontainercontent1 p span {
    font-weight: 600;
    text-align: center;
    margin-top: 2px;
    align-self: start;
    font-size: 16px;
    color: rgb(182, 176, 176);
    font-weight: bold;
}


.homeposts {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.postleftcontent {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.postleftcontent p {
    font-weight: 500;
    margin-top: 10px;
    font-size: 15px;
}

.postleftcontent p span {
    font-weight: 400;
    margin-bottom: 1px;
}

.postleftcontent img {
    padding: 2px;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 58, 29, 0.9725140056022409) 50%, rgba(252, 176, 69, 1) 100%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.dotss {
    margin-top: 14px;
    cursor: pointer;
}

.postimage {
    margin-top: -30px;
    width: 500px;

}

.postimage img {
    border-radius: 1px;
    width: 100%;
    height: 110%;

}

.postbuttons {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.leftbuttons {
    display: flex;
    gap: 12px;
}

.leftbuttons button {
    border: none;
    font-size: 25px;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}

.leftbuttons button:hover {
    color: rgb(107, 105, 105);
}

.sendbutton {
    font-size: 17px;
    font-weight: 200;
    margin-bottom: -3px;
}

.savebutton {
    border: none;
    font-size: 23px;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
}

.homepostdescription {
    width: 80%;
    margin-top: -20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 1px;
    font-size: 20px;

}


.homepostdescription h3 {
    font-size: 15px;
    font-weight: 500;
}

.homepostdescription :nth-child(2) {
    font-weight: 200;
    margin-top: -2px;
}


h4 {
    font-size: 14px;
    font-weight: 500;
}

h4::before {
    position: absolute;
    content: "";
    width: 500px;
    background-color: rgb(211, 201, 201);
    height: 1px;
    margin-top: 65px;
}


.homepostdescription button {
    width: 160px;
    cursor: pointer;
    border: none;
    background-color: white;
    color: rgb(102, 100, 100);
    margin-top: 11px;
    font-size: 15px;
    font-weight: 500;
    font-family: sans-serif;
    margin-left: -7px;
}

.myprofile {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    width: 290px;
    margin-top: 0px;
}

.myprofile button {
    color: #20a2f6;
    border: none;
    background-color: white;
    font-weight: 500;
    transition: 0.2s;
    cursor: pointer;
}

.myprofile button:hover {
    color: #0d68a5;

}


.myprofile div {
    display: flex;
    font-size: 18px;
    align-items: center;
    gap: 13px;
}

.myprofile div p {
    font-size: 15px;
    color: black;
    font-weight: 500;
    font-family: sans-serif;
    cursor: pointer;
}

.myprofile div p span {
    font-size: 14px;
    font-weight: 400;
}

.myprofile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.homecontainerusers {
    display: flex;
    flex-direction: column;
}

.homecontainerusers div {
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.homecontainerusers div p {

    font-weight: 500;
    color: gray;
}

.homecontainerusers div button {
    color: #000000;
    border: none;
    background-color: white;
    font-weight: 500;
    font-size: 13px;

}

.rightcontent {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-top: 30px;
    margin-top: -10px;
}

.rightcontentuserrs {
    display: flex;
    justify-content: space-between;
    gap: 113px;
    align-items: center;
}

.rightcontentuserrs h5 {
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.rightcontentuserrs h5 span {
    color: rgb(66, 64, 64);
    font-size: 13px;
    font-weight: 400;
}

.rightcontentuserrs img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.postcommentboxs {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    padding-top: 40px;
}

.postcommentboxsvisible {
    display: none;
}

.postcommentboxs button {
    position: absolute;
    font-size: 32px;
    right: 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    top: 20px;
    color: white;
}

.maincomment {
    width: 72%;
    height: 95%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    border-radius: 3px;
    margin: auto;
}


.content10 {
    background-color: red;
    width: 60%;
}

.content10 img {
    background-color: red;
    width: 100%;
    height: 100%;
}

.content11 {
    width: 40%;
    display: flex;
    flex-direction: column;
}


.contenter1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(236, 230, 230);
}

.commentboxtop {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.commentboxtop p {
    margin-top: 10px;
    font-weight: 400;
}

.contenter1 img {
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 58, 29, 0.9725140056022409) 50%, rgba(252, 176, 69, 1) 100%);
    padding: 2px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.contenter2 {
    display: flex;
    flex-direction: column;
    padding: 15px 15px;
    gap: 20px;
    overflow: auto;
    position: relative;
}


.comment {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
}

.commentprofile {
    display: flex;
    gap: 10px;
}

.commentprofile img {
    width: 35px;
    cursor: pointer;
    height: 35px;
    border-radius: 45px;
}

.commentprofile p {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;

}

.commentprofile div {
    color: rebeccapurple;
    font-size: 12px;
    margin-left: 46px;
}

.commentprofile div p {
    color: rgb(160, 158, 163);
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
}

.comentbox {
    display: flex;
    bottom: 33px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 26%;
}

.sendopenboxs {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

}

.sendopenboxsvisible {
    display: none;
}

.sendcontainer {
    width: 37%;
    min-width: 340px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.content13 {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid rgb(213, 206, 206);
}

.content13 p {
    font-size: 20px;
    margin: auto;
}

.content13 button {
    background-color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;
}

.content14 {
    display: flex;
    flex-direction: column;

}

.content14 input {
    color: black;
    background-color: white;
    border-bottom: 1px solid rgb(213, 206, 206);
    border-radius: 0px;
}

.sendusers {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 400px;
}

.sendusersleftcontent {
    display: flex;
    gap: 10px;
}

.sendusersleftcontent img {
    width: 45px;
    cursor: pointer;
    height: 45px;
    border-radius: 50%;
}

.sendusers div {
    display: flex;
    justify-content: space-between;
    padding: 7px 8px;
}


@media screen and (max-width:1000px) {
    .homecontainercontent2 {
        display: none;
    }
}


@media screen and (max-width:670px) {

    h4::before {
        position: absolute;
        content: "";
        width: 400px;
        height: 1px;
        margin-top: 85px;
    }

    .homeposts {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .postimage {
        margin-top: -30px;
        width: 405px;

    }
}