* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homecontainer {
    display: flex;
    width: 100%;
    gap: 100px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 150px;
}

.homecontainercontent1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}   

.homecontainercontent1 p {
    font-weight: bold;
    align-self: start;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: flex;
    font-size: 17px;
    margin-bottom: -30px;
}

.homecontainercontent1 p span{
    font-weight: 600;
    text-align: center;
    margin-top: 2px;
    align-self: start;
    font-size: 16px;
    color: rgb(182, 176, 176);
    font-weight: bold;
}


.homeposts {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.postleftcontent {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.postleftcontent p{
    font-weight: 500;
    margin-top: 10px;
    font-size: 15px;
}
.postleftcontent p span{
    font-weight: 400;
   margin-bottom: 1px ;
}

.postleftcontent img{
    padding: 2px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,58,29,0.9725140056022409) 50%, rgba(252,176,69,1) 100%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.dotss {
    margin-top: 14px ;
}

.postimage {
    margin-top: -30px;
    width: 500px;
   
}

.postimage img{
border-radius: 1px;
width: 100%;
height: 110%;
}


.postbuttons {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.leftbuttons  {
    display: flex;
    gap: 12px;
}

.leftbuttons button {
    border:  none;
    font-size: 25px;
    background-color: white;
}

.sendbutton {
    font-size: 17px;
    font-weight: 200;
    margin-bottom: -3px;
}

.savebutton {
    border: none;
    font-size: 23px;
    font-weight: bold;
    background-color: white;
}

.homepostdescription {
    width: 80%;
    margin-top: -35px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 1px;
    font-size: 20px;
}


.homepostdescription h3{
    font-size: 15px;
   font-weight: 500;
}

.homepostdescription :nth-child(2){
    font-weight: 200;
    margin-top: -2px;
 }


