* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    width: 100%;
}


.navbar {
    padding-left: 220px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(210, 210, 210);
    height: 75px;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    top: 0;
}

.contentnavleft {
    display: flex;
    gap: 13px;
    font-weight: bold;
}

.contentnavleft span {
    font-size: 13px;
    font-weight: 400;
}

.contentnavleft img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.contentnavright {
    display: flex;
    gap: 20px;
    font-size: 30px;
    font-weight: bolder;
    justify-content: flex-end;
    padding-right: 50px;
    color: black;
    cursor: pointer;
}

.chatboxs {
    padding-left: 230px;
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 100px;
}

.chatbox {
    gap: 20px;
    display: flex;
}

.chatbox img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chatbox p {
    background-color: rgb(240, 239, 239);
    border-radius: 15px;
    width: auto;
    padding: 15px;
    gap: 20px;
    display: flex;
    justify-content: center;
    word-spacing: 3px;
    color: rgb(63, 63, 63);

}

.chatbox2 {
    gap: 20px;
    display: flex;
    align-self: flex-end;
    padding-right: 60px;
}

.chatbox2 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chatbox2 p {
    background-color: whitesmoke;
    border-radius: 15px;
    width: auto;
    height: auto;
    padding: 15px;
    gap: 20px;
    display: flex;
    justify-content: center;
    word-spacing: 3px;
    color: rgb(63, 63, 63);
}

.inputbox3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 215px;
    border-radius: 25px;
    padding-right: 15px;
    height: 80px;
    position: sticky;
    background-color: white;
    bottom: 0;
}

.kapsayıcı {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(194, 187, 187);
    border-radius: 20px;
    padding-right: 20px;
}

.inputbox3 input {
    background-color: white;
    border-radius: 25px;
    height: 45px;
    width: 99%;
}

.inputboxemoji {
    cursor: pointer;
    font-size: 25px;
    display: flex;
    gap: 15px;
}

@media screen and (max-width:1160px) {

    .navbar {
        padding-left: 40px;
    }

    .chatboxs {
        padding-left: 30px;
    }

    .inputbox3 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
        border-radius: 25px;
        padding-right: 15px;
        height: 80px;
        position: sticky;
        background-color: white;
        bottom: 45px;
    }

}