#root {
    height: 100%;
}


body {

    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {

    display: flex;
    justify-content: center;
    width: 620px;
    gap: 10px;
}


.swipercontainer {
    padding-top: 25px;
    border-top: 1px solid rgb(200, 196, 196);
}


.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    align-self: center;
}


.swiper-slide div {
    border-radius: 50%;
    width: 60px;
    display: flex;
    flex-direction: column;
    height: 80px;
    background-color: white;
    display: flex;
    font-weight: bolder;
    font-size: 8px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 1px;
    border: 1px solid radial-gradient(circle, rgba(131, 58, 180, 1) 0%, rgb(212, 70, 255) 50%, rgba(252, 176, 69, 1) 100%);
    ;
}

.swiper-slide div img {
    border-radius: 50%;
    padding: 2px;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 58, 29, 0.9725140056022409) 50%, rgba(252, 176, 69, 1) 100%);
    width: 100%;
    height: 100%;
}

div.swiper-button-next::after {
    color: rgb(149, 144, 144);
    background-color: aliceblue;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 26px;
    height: 26px;
    font-weight: bolder;
    font-size: 14px;
}

div.swiper-button-prev::after {
    color: rgb(149, 144, 144);
    background-color: aliceblue;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 26px;
    height: 26px;
    font-weight: bolder;
    font-size: 14px;
}

@media screen and (max-width:670px) {
    .swiper {
        width: 500px;
    }

    .swiper-slide div {
        width: 50px;
        height: 70px;
        font-size: 8px;
        gap: 10px;
    }
}

@media screen and (max-width:580px) {
    .swiper {
        width: 460px;
    }

}